@using MVC_CRUD.Areas.Customer.Data
@model MVC_CRUD.Areas.Customer.Data.ClsAccountDTO
@{
    ViewBag.Title = "Customer Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Customer Sign in </h2>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LoginRequest.Email_Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LoginRequest.Email_Mobile, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LoginRequest.Email_Mobile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LoginRequest.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.LoginRequest.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LoginRequest.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>
                    @{
                        var dataViewbag1 = ViewBag.ResponseMSG;
                        if (dataViewbag1 != null)
                        {
                            <h3>ResponseMSG: @dataViewbag1</h3>
                        }
                    }
                    @{
                        var dataViewbag2 = ViewBag.ResponseMSG_ClassDetails;
                        if (dataViewbag2 != null)
                        {
                            <h3>ResponseMSG_Code: @dataViewbag2.Code</h3>
                        }
                    }
                    @{
                        var dataViewData1 = (DTOLoginResponse)ViewData["ResponseMSG_ClassDetails_ViewData"];
                        if (dataViewData1 != null)
                        {
                            <h3>ResponseMSG_Code_ViewData: @dataViewData1.Code</h3>
                        }
                    }
                </div>
            }
            <hr />
            <div>
                @Html.ActionLink("Forget password?", "ForgetPassword")
                or


                or
                <button id="btnShowModal" type="button"
                        class="btn btn-sm btn-default pull-left col-lg-11 button button4">
                    Pop Up Forget Password
                </button>

            </div>
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
            {
                <h2>Customer Sign Up </h2>
                <hr />
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th colspan="2" align="center">Person Details</th>
                    </tr>
                    <tr>
                        <td>PersonId: </td>
                        <td>
                            @Html.TextBoxFor(m => m.SignUpRequest.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>Name: </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>Gender: </td>
                        <td>
                            @*@Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                { new SelectListItem{Text="Male", Value="M"},
                                  new SelectListItem{Text="Female", Value="F"}}, "Please select")*@
                        </td>
                    </tr>
                    <tr>
                        <td>City: </td>
                        <td>
                            @*@Html.TextBoxFor(m => m.City)*@
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Signup" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Forget Password</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Email /  Mobile" id="txtEmailMobile" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <label id="lbldisplay"  style="color: red;" />
                <input id="btnSave" type="submit" name="Save" value="Save" />
                <button type="submit" class="btn btn-primary button button4">Sign</button>
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>


            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/CustomizeJS/AccountJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script type="text/javascript">

    $(document).ready(function () {

        //----Test Code Begin
        //var customerID = 23;
        //var firstname = "John";

        //$.ajax(
        //    {
        //        type: 'POST',
        //        dataType: 'JSON',
        //        url: rootDir +"Customer/Login/GetData",
        //        data: { customerID: customerID, fname: firstname },
        //        success:
        //            function (response) {
        //                // Generate HTML table.
        //                convertJsonToHtmlTable(JSON.parse(response), $("#TableId"));
        //            },
        //        error:
        //            function (response) {
        //                alert("Error: " + response);
        //            }
        //    });
        //----Test Code END
    });

</script>

<br />


