@model MVC_CRUD.Areas.Customer.Data.DTOLoginRequest
@{
    ViewBag.Title = "Customer Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Sign in </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(model => model.Email_Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Email_Mobile, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Email_Mobile, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>

        @{
            var dataViewbag1 = ViewBag.ResponseMSG;
            if (dataViewbag1 != null)
            {
                <h3>ResponseMSG: @dataViewbag1</h3>
            }
        }
        <br />
        @{
            var dataViewbag2 = ViewBag.ResponseMSG_ClassDetails;
            if (dataViewbag2 != null)
            {
                <h3>ResponseMSG_Code: @dataViewbag2.MSG</h3>
            }
        }
        
    </div>
}

